.App {
  text-align: center;
  background: hsl(0, 0%, 98%);
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.countries_container {
  gap: 20px;
  row-gap: 60px;
}

.p-10 {
  padding: 10px;
}

.text-600 {
  font-weight: 600;
}

.text-300 {
  font-weight: 300;
}

.leading-24 {
  line-height: 24px;
}

.card_subtext {
  margin-left: 3px;
}

.all_container {
  padding: 20px 60px 20px 60px;
}

.card_country_detail {
  text-align: left;
  margin-top: 20px;
}

.card-cont {
  width: 264px;
  height: 336px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  cursor: pointer;
}

.card_img_cont {
  height: 160px;
}
.card-image {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0px 0px;
}

.card_country_name {
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  text-align: left;
  margin-bottom: 10px;
}
